<div class="a-banner">
    <a href="https://www.magnolia-cms.com/about/events/devdays-europe.html?utm_source=docs.magnolia-cms.com&utm_medium=referral&utm_campaign=magnolia-devdays-europe_global_2021&utm_content=magnolia-devdays-europe-2021-registration__en_global" target="_blank"><img src="{{{uiRootPath}}}/img/dev-days.jpg" alt="dev days event sign up"></a> 
</div>

<div class="a-banner-mobile">
    <a href="https://www.magnolia-cms.com/about/events/devdays-europe.html?utm_source=docs.magnolia-cms.com&utm_medium=referral&utm_campaign=magnolia-devdays-europe_global_2021&utm_content=magnolia-devdays-europe-2021-registration__en_global" target="_blank"><img src="{{{uiRootPath}}}/img/dev-days-small.jpg" alt="dev days event sign up"></a> 
</div>
