<div class="floating-badge" id="floating-badge">
  <img src="{{{uiRootPath}}}/img/rebrand-icon-dark.svg" alt=""> <span>6.3 RC</span>
</div>

<div class="dialog" id="dialog">
  <div class="close-icon" id="close-dialog">X</div>
  <div class="left-content">
    <!-- Left content -->
    <div class="img-container">
        <img src="{{{uiRootPath}}}/img/rebrand-icon-dark.svg" alt="">
    </div>
  </div>
  <div class="right-content">
    <!-- Right content -->
    <h3 class="dialogTitle">Magnolia 6.3 RC</h3>
    <p class="dialogText">Magnolia 6.3 is in Release Candidate status. We are updating docs based on development and feedback. Consider the 6.3 docs currently in a state of progress and not final.</p>
    <p class="dialogText">We are working on some <a href="{{{siteRootPath}}}/product-docs/6.3/known-issues-beta/">6.3-rc known issues</a> during this phase.</p>
  </div>
</div>


<script>

document.addEventListener("DOMContentLoaded", function() {
  const floatingBadge = document.getElementById("floating-badge");
  const dialog = document.getElementById("dialog");
  const closeDialog = document.getElementById("close-dialog");

  floatingBadge.addEventListener("click", function() {
    dialog.classList.toggle("show");
  });

  closeDialog.addEventListener("click", function() {
    dialog.classList.remove("show");
  });

  document.addEventListener("click", function(event) {
    if (!dialog.contains(event.target) && !floatingBadge.contains(event.target)) {
      dialog.classList.remove("show");
    }
  });

  // Prevent the click event from propagating to the document when clicking inside the dialog
  dialog.addEventListener("click", function(event) {
    event.stopPropagation();
  });
});

</script>
