<div class="banner">
    <div class="banner-content">
        <h2>Looking for Magnolia PaaS?</h2>
        <p>Check out our dedicated <a href="{{{siteRootPath}}}/paas/index.html">documentation</a>.</p>
    </div>
</div>
