<div class="body">
  <main>
    {{> section--hero}}

    <span id="saasLandGetStarted" class="landingSpans"></span>
    {{> section--get-started}}

    <span id="saasLandVideo" class="landingSpans"></span>
    {{> section--yellow}}
    {{> section--video}}

    <span id="saasLandGuides" class="landingSpans"></span>
    {{> section--features}}

    {{!-- {{> section--pre-footer}} --}}
  </main>
</div>
