<div class="body">
  <main>
    {{> section--hero}}

    {{> section--get-started}}

    {{> section--yellow}}

    {{> section--video}}

    {{> section--features}}

    {{> section--video}}

    {{> section--pre-footer}}
  </main>
</div>
