<div class="body">
    <main class="home">
        <div class="content">
            <article class="land">
                {{!-- <h2 class="welcome-header">Magnolia CMS Documentation</h2> --}}
                <div class="title-cards">
                    {{{page.contents}}}
                </div>
                {{!-- {{> announcement}} --}}
                <div class="feedback-banner">
                    {{!-- <br>
                    <p style="text-align: center; font-size: 1.45rem;">The new home of Magnolia documentation</p>
                    <!-- Trigger/Open The Modal -->
                    <button id="myBtn" class="migrate">More info</button> --}}
                </div>
            </article>
        </div>
    </main>
</div>
