{{!-- <h1>Next Magnolia Release</h1>
<div id="countdown" class="countdown"></div> --}}

<script>
    // Set the target date and time for the countdown
    const targetDate = new Date("2023-08-24T18:00:00").getTime();

    // Update the countdown every second
    const countdownInterval = setInterval(function() {
        const now = new Date().getTime();
        const timeLeft = targetDate - now;

        if (timeLeft <= 0) {
            clearInterval(countdownInterval);
            document.getElementById("countdown").innerHTML = "Countdown expired!";
        } else {
            const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
            const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
            const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);

            document.getElementById("countdown").innerHTML = `${days}d ${hours}h ${minutes}m ${seconds}s`;

            const targetDateFormatted = new Date(targetDate).toLocaleDateString();
            document.getElementById("targetDate").innerHTML = `Target Date: ${targetDateFormatted}`;

            document.getElementById("countdown").style.display = "block";
            document.getElementById("targetDate").style.display = "block";

        }
    }, 1000);
    </script>
