{{#if (eq page.layout 'default')}}
    <div id="feedback">
        <a href="https://magnolia-cms.atlassian.net/secure/CreateIssue.jspa?pid=10039&issuetype=10002" target="_blank" rel="noopener">
        Feedback
        </a>
    </div>
{{/if}}
 
{{#if (eq page.layout 'saas')}}
    <div id="feedback-saas">
        <a href="https://magnolia-cms.atlassian.net/secure/CreateIssue.jspa?pid=10024&issuetype=10006" target="_blank" rel="noopener">
        Feedback
        </a>
    </div>
{{/if}}
 
{{#if (eq page.layout 'paas')}}
    <div id="feedback-paas">
        <a href="https://magnolia-cms.atlassian.net/secure/CreateIssue.jspa?pid=10039&issuetype=10002" target="_blank" rel="noopener">
        Feedback
        </a>
    </div>
{{/if}}

{{#if (eq page.layout 'incubate')}}
    <div id="feedback-incubate">
        <a href="https://magnolia-cms.atlassian.net/secure/CreateIssue.jspa?pid=10039&issuetype=10002" target="_blank" rel="noopener">
        Feedback
        </a>
    </div>
{{/if}}

{{#if (eq page.layout 'cloud')}}
    <div id="feedback-cloud">
        <a href="https://magnolia-cms.atlassian.net/secure/CreateIssue.jspa?pid=10039&issuetype=10002" target="_blank" rel="noopener">
        Feedback
        </a>
    </div>
{{/if}}
 
{{#if (eq page.layout 'headless')}}
    <div id="feedback-headless">
        <a href="https://magnolia-cms.atlassian.net/secure/CreateIssue.jspa?pid=10039&issuetype=10002" target="_blank" rel="noopener">
        Feedback
        </a>
    </div>
{{/if}}
 
