{{#if (eq page.layout 'headless')}}
<div id="location">
        <p>Headless <i class="fa fa-map-marker" aria-hidden="true"></i></p>
    {{!-- {{/if}}
    {{#if (eq page.component 'product-docs')}}
        <p>DX Core <i class="fa fa-map-marker" aria-hidden="true"></i></p>
    {{/if}}
    {{#if (eq page.component 'saas')}}
        <p>SaaS <i class="fa fa-map-marker" aria-hidden="true"></i></p>
    {{/if}}
    {{#if (eq page.component 'paas')}}
        <p>PaaS <i class="fa fa-map-marker" aria-hidden="true"></i></p>
    {{/if}}
    {{#if (eq page.component 'legacy-cloud')}}
        <p>Cloud <i class="fa fa-map-marker" aria-hidden="true"></i></p>
    {{else}} --}}
</div>
{{/if}}

{{#if (eq page.layout 'trials')}}
<div id="location-trials">
        <p>Trials <i class="fa fa-map-marker" aria-hidden="true"></i></p>
</div>
{{/if}}
