{{#if (eq page.layout 'default')}}
<div id="location">
        <p><i class="fa fa-map-marker" aria-hidden="true"></i> DX Core</p>
</div>
{{/if}}

{{#if (eq page.layout 'headless')}}
<div id="location-headless">
        <p>Headless <i class="fa fa-map-marker" aria-hidden="true"></i></p>
</div>
{{/if}}

{{#if (eq page.layout 'trials')}}
<div id="location-trials">
        <p>Trials <i class="fa fa-map-marker" aria-hidden="true"></i></p>
</div>
{{/if}}

{{#if (eq page.layout 'saas')}}
<div id="location-saas">
        <p>SaaS <i class="fa fa-map-marker" aria-hidden="true"></i></p>
</div>
{{/if}}

{{#if (eq page.layout 'paas')}}
<div id="location-paas">
        <p>PaaS <i class="fa fa-map-marker" aria-hidden="true"></i></p>
</div>
{{/if}}
