{{!-- <form>
    <input type="text" placeholder="Search.." name="search" id="#searchBar">
    <button type="submit"><i class="fa fa-search"></i></button>
</form> --}}
<div class="search-input-wrapper">
  <input type="search" placeholder="Search Magnolia docs..." name="search" id="searchBar">
  <span class="search-input-wrapper__icon">
     <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M11.5674 3.36217C13.8338 5.63019 13.8338 9.30738 11.5674 11.5754C9.30093 13.8434 5.62629 13.8434 3.35984 11.5754C1.09339 9.30738 1.09339 5.63019 3.35984 3.36217C5.62629 1.09415 9.30093 1.09415 11.5674 3.36217ZM13.4909 11.8755C15.6297 8.95372 15.3798 4.82804 12.7412 2.18756C9.82645 -0.729186 5.10076 -0.729186 2.18604 2.18756C-0.72868 5.1043 -0.72868 9.83327 2.18604 12.75C4.8246 15.3904 8.94724 15.6406 11.867 13.5005L14.3648 16L15.9887 14.375L13.4909 11.8755Z" fill="#A8A8A8"/>
     </svg>
  </span>
</div>
{{!-- &#x1F50E --}}
