<section class="section section--wide section--video">
  <div class="container">
    <div class="section__title">
      <h2>See what SaaS can do</h2>
    </div>
    <div class="row no-margin d-flex align-center">
      <div class="column c-50 no-padding">
        <div class="section--video__card-content">
          <h3>See a fleshed out demonstration of how SaaS powers corporate websites, product showcasing, and multi-brand use cases.</h3>
          <a href="#" class="link --black">See the website</a>
        </div>
      </div>
      <div class="column c-50 no-padding">
        <div class="section--video__video">
          <div class="video--overlay">
            <button class="play-video">
              <svg width="48" height="48" viewBox="0 0 48 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M24 48C37.2548 48 48 37.2548 48 24C48 10.7452 37.2548 0 24 0C10.7452 0 0 10.7452 0 24C0 37.2548 10.7452 48 24 48ZM17.2174 35.7478L37.5652 24L17.2174 12.2522L17.2174 35.7478Z" fill="#FFC226"/>
              </svg>
            </button>
          </div>
          <video controls>
            <source src="https://www.w3schools.com/html/mov_bbb.mp4" type="video/mp4">
            <source src="movie.ogg" type="video/ogg">
            Your browser does not support the video tag.
          </video>
        </div>
      </div>
    </div>
  </div>
</section>
