<section class="section section--wide">
  <div class="container">
    <div class="section__title">
      <h2>Editorial features and user guides</h2>
    </div>
    <div class="row">

      <div class="column c-33 m-b-24">
        <div class="card-block --bg-yellow --center">
          <h3 class="card-block__title">Apps</h3>
          <div class="svg-icon">
            <svg width="95" height="88" viewBox="0 0 95 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M4.53316 79.9314V19.6058H80.0859V57.3093L84.6191 58.727V19.6058V15.0814V0H0V15.0814V19.6058V84.4559H68.5112L66.8944 79.9314H4.53316Z" fill="#1E1F1C"/>
              <path d="M15.1104 69.3745H62.361L57.3745 57.3093H15.1104V69.3745Z" fill="#1E1F1C"/>
              <path d="M71.0194 34.0086V31.671H15.1104V51.2768H71.0194V34.0086Z" fill="#1E1F1C"/>
              <path d="M95.0003 68.6204L62.7393 55.8012L75.5983 88L81.3403 77.5637L89.1676 85.3758L92.371 82.1786L84.5438 74.3664L95.0003 68.6204Z" fill="#1E1F1C"/>
            </svg>
          </div>
          <a href="#" class="link --white">Learn more</a>
        </div>
      </div>

      <div class="column c-33 m-b-24">
        <div class="card-block --bg-yellow --center">
          <h3 class="card-block__title">Visual Page Editor</h3>
          <div class="svg-icon">
            <svg width="89" height="84" viewBox="0 0 89 84" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M70.8985 28.5H15.085V43.5H28.6612V39H70.8985V28.5Z" fill="#1E1F1C"/>
              <path d="M15.085 55.5V70.5H70.8985V66H28.6612V55.5H15.085Z" fill="#1E1F1C"/>
              <path d="M89 43.5H33.1864V61.5H79.9492V79.5H4.52542V19.5H79.9492V39H84.4746V19.5V15V0H0V15V19.5V84H84.4746V61.5H89V43.5Z" fill="#1E1F1C"/>
            </svg>
          </div>
          <a href="#" class="link --white">Learn more</a>
        </div>
      </div>

      <div class="column c-33 m-b-24">
        <div class="card-block --bg-yellow --center">
          <h3 class="card-block__title">Asset Management</h3>
          <div class="svg-icon">
            <svg width="96" height="104" viewBox="0 0 96 104" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_614_1230)">
                <path d="M22.0377 64.8116H4.5283V4.52174H64.9057V27.1304H69.434V0H0V69.3333H22.0377V64.8116Z" fill="#1E1F1C"/>
                <path d="M26.5664 27.1304V65.2035C28.0004 64.5704 29.5249 64.0881 31.0947 63.7565V31.6522H91.4721V91.942H57.4192C56.9815 93.5246 56.3928 95.047 55.6381 96.4638H96.0004V27.1304H26.5664Z" fill="#1E1F1C"/>
                <path d="M79.2448 53.5073L62.641 76.4476L54.2184 64.8116L50.958 69.3183C55.441 73.4481 58.2637 79.3415 58.2637 85.9131C58.2637 86.4255 58.2184 86.9229 58.1882 87.4203H86.9127V64.0881L79.2448 53.5073Z" fill="#1E1F1C"/>
                <path d="M48.3017 57.2754C53.3035 57.2754 57.3583 53.2265 57.3583 48.2319C57.3583 43.2373 53.3035 39.1884 48.3017 39.1884C43.2999 39.1884 39.2451 43.2373 39.2451 48.2319C39.2451 53.2265 43.2999 57.2754 48.3017 57.2754Z" fill="#1E1F1C"/>
                <path d="M54.4452 88.5357C54.566 87.6765 54.6415 86.8023 54.6415 85.9131C54.6415 85.1896 54.5962 84.4812 54.5056 83.7728H50.6566C50.3245 81.5722 49.4943 79.5374 48.2716 77.789L51.0037 75.0609C50.0377 73.7948 48.9207 72.6493 47.6679 71.6696L44.9509 74.3826C43.1999 73.1015 41.1471 72.2122 38.9132 71.8354V67.9919C38.1283 67.8864 37.3433 67.8261 36.5282 67.8261C35.7132 67.8261 34.9282 67.8864 34.1433 67.9919V71.8354C31.9094 72.2122 29.8566 73.1015 28.1056 74.3826L25.3886 71.6696C24.1358 72.6493 23.0037 73.7948 22.0528 75.0609L24.7849 77.789C23.5622 79.5374 22.732 81.5722 22.3999 83.7728H18.5509C18.4603 84.4812 18.415 85.1896 18.415 85.9131C18.415 86.8023 18.4754 87.6765 18.6113 88.5357H22.4754C22.8679 90.676 23.7433 92.6354 24.9811 94.3235L22.2641 97.0365C23.2452 98.2876 24.3924 99.418 25.6603 100.368L28.3924 97.6394C30.083 98.8151 32.0452 99.629 34.1584 99.9757V103.819C34.9433 103.925 35.7282 103.985 36.5433 103.985C37.3584 103.985 38.1433 103.925 38.9282 103.819V99.9757C41.0415 99.6139 43.0037 98.8 44.6943 97.6394L47.4264 100.368C48.6943 99.4029 49.8415 98.2876 50.8226 97.0365L48.1056 94.3235C49.3433 92.6354 50.2037 90.6609 50.6113 88.5357H54.4754H54.4452ZM36.5282 93.5397C32.3169 93.5397 28.9056 90.1334 28.9056 85.9281C28.9056 81.7229 32.3169 78.3165 36.5282 78.3165C40.7396 78.3165 44.1509 81.7229 44.1509 85.9281C44.1509 90.1334 40.7396 93.5397 36.5282 93.5397Z" fill="#1E1F1C"/>
                <path d="M60.7853 9.08868H8.64941V13.6104H60.7853V9.08868Z" fill="#1E1F1C"/>
                <path d="M60.7853 18.1322H8.64941V22.6539H60.7853V18.1322Z" fill="#1E1F1C"/>
                <path d="M21.857 27.1757H8.64941V31.6974H21.857V27.1757Z" fill="#1E1F1C"/>
                <path d="M21.857 36.2191H8.64941V40.7409H21.857V36.2191Z" fill="#1E1F1C"/>
                <path d="M21.857 45.2626H8.64941V49.7844H21.857V45.2626Z" fill="#1E1F1C"/>
                <path d="M21.857 54.3061H8.64941V58.8278H21.857V54.3061Z" fill="#1E1F1C"/>
              </g>
              <defs>
                <clipPath id="clip0_614_1230">
                  <rect width="96" height="104" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <a href="#" class="link --white">Learn more</a>
        </div>
      </div>

      <div class="column c-33 m-b-24">
        <div class="card-block --bg-yellow --center">
          <h3 class="card-block__title">Search</h3>
          <div class="svg-icon">
            <svg width="85" height="87" viewBox="0 0 85 87" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_614_1227)">
                <path d="M57.8529 44.533C57.8529 43.2361 57.7172 41.9693 57.5211 40.7176H44.2794V36.1935H56.3447C55.1533 32.9813 53.2982 30.0255 50.8098 27.5221C50.674 27.3864 50.5232 27.2657 50.3875 27.1451H44.2794V22.9074C41.4139 21.52 38.3373 20.7358 35.2305 20.5549V49.7509H57.2647C57.6418 48.0468 57.8529 46.3125 57.8529 44.518V44.533Z" fill="#1E1F1C"/>
                <path d="M84.9995 49.766V0H35.2301V11.6121C26.0605 11.0692 16.7099 14.2512 9.71202 21.2335C-3.25817 34.2028 -3.25817 55.2855 9.71202 68.2548C15.986 74.5283 24.3412 77.9969 33.2243 77.9969C41.3533 77.9969 48.9996 75.0713 55.0624 69.778L72.2706 86.9849L75.4679 83.7878L58.2447 66.5658C62.5278 61.6646 65.1219 55.8133 66.0419 49.7509H84.9844L84.9995 49.766ZM75.9505 40.7176H66.1927C66.0117 39.1945 65.7101 37.6864 65.3179 36.1935H75.9505V40.7176ZM75.9505 27.1451H61.4118C60.4164 25.5616 59.2702 24.0536 57.9883 22.6209H75.9505V27.1451ZM44.2791 9.04836H75.9505V13.5725H44.6712C44.5355 13.5273 44.4148 13.4821 44.2791 13.4368V9.04836ZM12.9244 65.0577C1.71876 53.8528 1.71876 35.6355 12.9244 24.4306C18.5197 18.8357 25.8795 16.0307 33.2393 16.0307C40.5992 16.0307 47.9439 18.8357 53.5543 24.4306C64.7599 35.6355 64.7599 53.8528 53.5543 65.0577C48.1249 70.4867 40.9159 73.4727 33.2393 73.4727C25.5628 73.4727 18.3538 70.4867 12.9244 65.0577Z" fill="#1E1F1C"/>
              </g>
              <defs>
                <clipPath id="clip0_614_1227">
                  <rect width="85" height="87" fill="white"/>
                </clipPath>
              </defs>
            </svg>
          </div>
          <a href="#" class="link --white">Learn more</a>
        </div>
      </div>

      <div class="column c-33 m-b-24">
        <div class="card-block --bg-yellow --center">
          <h3 class="card-block__title">Content types</h3>
          <div class="svg-icon">
            <svg width="94" height="94" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M66.5142 59.1454L62.7324 72.2064H70.4624L66.6655 59.1454H66.5142Z" fill="#1E1F1C"/>
              <path d="M84.1219 39.1982V16.9203H69.1612V9.08069L59.2983 18.9483L69.1612 28.816V21.4607H79.5838V39.1982H39.2246V94H94V39.1982H84.1371H84.1219ZM74.4103 85.7972L72.3379 78.7142H60.8413L58.784 85.7972H50.2674L62.0363 49.3383H71.1277L82.9118 85.7972H74.3952H74.4103Z" fill="#1E1F1C"/>
              <path d="M24.8236 72.5394H14.401V54.8018H34.4747V44.0261C32.1905 42.6337 29.7248 40.9235 27.3196 38.8955C19.2266 45.706 10.5587 48.8388 9.90827 49.0658L8.95526 46.3265L7.98713 43.6023C8.12327 43.5569 15.8079 40.757 23.0386 34.8243C19.8014 31.3586 16.9575 27.1966 15.1574 22.2779H21.4503C22.9479 25.5167 25.0203 28.3619 27.3196 30.8289C30.9047 26.9847 33.8999 22.2174 35.1101 16.4814H7.4728V10.6849H24.4908V5.72082H30.2845V10.6849H47.3025V16.4814H41.0248C39.7541 24.0032 36.048 30.057 31.6157 34.8243C32.5687 35.6113 33.5368 36.3378 34.4899 37.0188V34.446H54.7753V0H0V54.8018H9.86289V77.0797H24.8236V84.9193L34.6865 75.0517L24.8236 65.184V72.5394Z" fill="#1E1F1C"/>
            </svg>
          </div>
          <a href="#" class="link --white">Learn more</a>
        </div>
      </div>

      <div class="column c-33 m-b-24">
        <div class="card-block --bg-yellow --center">
          <h3 class="card-block__title">Roles</h3>
          <div class="svg-icon">
            <svg width="80" height="88" viewBox="0 0 80 88" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M30.1608 40.6293C41.2684 40.6293 50.2728 31.5341 50.2728 20.3147C50.2728 9.09518 41.2684 0 30.1608 0C19.0533 0 10.0488 9.09518 10.0488 20.3147C10.0488 31.5341 19.0533 40.6293 30.1608 40.6293Z" fill="#1E1F1C"/>
              <path d="M79.7907 70.6263C79.9251 69.661 79.9998 68.6807 79.9998 67.6854C79.9998 66.871 79.94 66.0717 79.8505 65.2874H75.5802C75.2069 62.8141 74.2812 60.5368 72.9374 58.5611L75.9684 55.4996C74.9083 54.0669 73.6541 52.7849 72.2655 51.684L69.2495 54.7304C67.3085 53.2977 65.024 52.3023 62.5455 51.8801V47.5668C61.6795 47.4461 60.7986 47.3858 59.9027 47.3858C59.0069 47.3858 58.1259 47.4461 57.2599 47.5668V51.8801C54.7814 52.3023 52.497 53.2977 50.5559 54.7304L47.5399 51.684C46.1513 52.7849 44.8971 54.0669 43.837 55.4996L46.868 58.5611C45.5093 60.5217 44.5836 62.8141 44.2252 65.2874H39.955C39.8654 66.0717 39.8057 66.871 39.8057 67.6854C39.8057 68.6807 39.8803 69.661 40.0147 70.6263H44.2999C44.7329 73.0242 45.7034 75.2412 47.077 77.1263L44.061 80.1728C45.1509 81.5753 46.4201 82.8422 47.8385 83.913L50.8695 80.8514C52.7508 82.1635 54.9158 83.0835 57.2599 83.4756V87.7889C58.1259 87.9095 59.0069 87.9699 59.9027 87.9699C60.7986 87.9699 61.6795 87.9095 62.5455 87.7889V83.4756C64.8896 83.0835 67.0696 82.1635 68.9359 80.8514L71.9669 83.913C73.3854 82.8422 74.6545 81.5753 75.7444 80.1728L72.7284 77.1263C74.102 75.2261 75.0576 73.0242 75.5056 70.6263H79.7907ZM59.9027 76.2365C55.2293 76.2365 51.4369 72.4059 51.4369 67.6854C51.4369 62.9649 55.2293 59.1342 59.9027 59.1342C64.5761 59.1342 68.3686 62.9649 68.3686 67.6854C68.3686 72.4059 64.5761 76.2365 59.9027 76.2365Z" fill="#1E1F1C"/>
              <path d="M42.7324 49.2559C38.8951 48.0645 34.6547 47.3858 30.1605 47.3858C13.5125 47.3858 0 56.4799 0 67.7005H34.9533C34.9533 60.4463 37.9395 53.9161 42.7324 49.2559Z" fill="#1E1F1C"/>
            </svg>
          </div>
          <a href="#" class="link --white">Learn more</a>
        </div>
      </div>

    </div>
    <div class="link-block --bottom --center">
      <a href="#" class="link --black">See all user guides</a>
    </div>
  </div>
</section>
