<section class="section section--hero section--yellow">
  <div class="container">
    <div class="row">
      <div class="column">
        <h1>{{ page.title }}</h1>

        {{{page.contents}}}

      </div>
      <div class="column">
        <div class="image">
          <svg width="387" height="266" viewBox="0 0 387 266" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M328.532 130.069L66.3656 64.1622C48.0958 71.3088 32.3134 83.446 20.7332 98.9505L368.042 161.005L6.02555 126.471C2.13732 137.433 0 149.219 0 161.514C0 165.959 0.313957 170.32 0.845268 174.62L386.807 188.925C386.928 187.121 387 185.316 387 183.487C387 145.864 361.859 114.176 327.529 104.256C324.027 46.1139 276.04 0 217.198 0C175.127 0 138.552 23.5597 119.823 58.239L328.532 130.081V130.069Z" fill="#1E1F1C"/>
            <path d="M9.47949 205.06C18.5359 224.84 33.5576 241.278 52.238 252.082L351.729 223.508L113.943 266H304.744C347.611 266 382.81 233.089 386.626 191.082L9.47949 205.06Z" fill="#1E1F1C"/>
          </svg>

        </div>
      </div>
    </div>
  </div>
</section>
