<section class="section section--yellow section--narrow">
  <div class="container">
    <div class="section__title  text-center">
      <h2>See what others build</h2>
    </div>
    <div class="row">
      <div class="column c-50">
        <div class="image">
          <img class="image-responsive" src="{{{uiRootPath}}}/img/digital-experience.png" alt="Digital experience">
        </div>
      </div>
      <div class="column c-50">
        <div class="section__content section__quote">
          <blockquote class="quote">
            "Magnolia SaaS reduced our time to go-live by 80%. It eliminated the need for time consuming and finicky server-side development and deployments."
          </blockquote>
          <p class="quote--author">Arjuna Shankar, Partner, dotfusion</p>
          <a href="#" class="link --black">See the website</a>
        </div>
      </div>
    </div>
  </div>
</section>
