<section class="section section--wide">
  <div class="container">
    <div class="inner-section">
      <div class="row">
        <div class="column c-30 c-medium-50">
          <div class="section__title">
            <h2 class="inner-section__title">Get started</h2>
          </div>
        </div>

        <div class="column c-70 c-medium-50">
          <div class="row">

            <div class="column c-50">
              <div class="card-block --margin-big">
                <div class="svg-icon">
                  <svg width="105" height="72" viewBox="0 0 105 72" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M54.26 43.4901C54.6 42.1401 55.14 40.5701 55.88 38.7801L1.65 33.6201C0.6 36.5601 0 39.7101 0 43.0101C0 44.2001 0.1 45.3701 0.24 46.5201L53.45 48.4901C53.58 46.7401 53.84 45.0601 54.26 43.4801V43.4901Z" fill="#1E1F1C"/>
                    <path d="M54.2897 0C44.7297 1.32 36.6297 7.18 32.2197 15.33L41.7697 18.61C42.5197 8.89 47.0997 2.12 54.2897 0.01V0Z" fill="#1E1F1C"/>
                    <path d="M59.1199 11.77C55.7099 11.77 54.0599 15.49 54.3599 22.93L62.0799 25.58C63.1299 22.75 63.5299 20.56 63.5299 18.52C63.5299 14.21 61.8699 11.78 59.1099 11.78L59.1199 11.77Z" fill="#1E1F1C"/>
                    <path d="M58.6804 32.9899C59.7004 31.0299 60.5304 29.3199 61.2004 27.7799L17.8804 16.9199C12.9604 18.8299 8.73035 22.0899 5.61035 26.2399L57.4004 35.4699C57.7904 34.6699 58.2104 33.8499 58.6804 32.9899Z" fill="#1E1F1C"/>
                    <path d="M88.0799 27.67C87.3599 15.8 79.7099 5.80997 69.1199 1.71997C74.1299 4.67997 76.9199 10.24 76.9199 17.75C76.9199 20.29 76.5899 22.83 75.9199 25.26C75.5699 26.48 74.9999 27.99 74.1999 29.74L88.3399 34.59L73.6499 30.91C73.0399 32.16 72.3299 33.52 71.4999 34.99C70.9399 35.96 70.4299 36.86 69.9699 37.72L98.9699 42.89L68.7799 40.02C67.8699 41.87 67.2199 43.43 66.8499 44.72C66.5199 46.13 66.2699 47.54 66.1299 48.98L103.99 50.38C104.02 49.9 104.06 49.42 104.06 48.92C104.06 38.83 97.2999 30.34 88.0699 27.68L88.0799 27.67Z" fill="#1E1F1C"/>
                    <path d="M14.0803 67.2899L51.3103 63.7499C52.2203 59.8999 55.6303 57.0799 59.6803 57.0799C63.2503 57.0799 66.2703 59.1699 67.6303 62.1899L94.5903 59.6299L68.2803 64.3199C68.3603 64.8099 68.4103 65.2999 68.4103 65.8099C68.4103 67.7699 67.7503 69.5699 66.6303 71.0199H81.9503C93.4803 71.0199 102.94 62.1999 103.96 50.9399L2.57031 54.6899C5.01031 59.9899 9.04031 64.3999 14.0803 67.2899Z" fill="#1E1F1C"/>
                    <path d="M52.8196 71.0201C52.0096 69.9601 51.4496 68.7201 51.1996 67.3601L30.6396 71.0201H52.8196Z" fill="#1E1F1C"/>
                  </svg>

                </div>

                <h3>Magnolia SaaS</h3>

                <p class="splash">
                  Magnolia SaaS is a Git-centric, cloud-based platform that brings speed and agility for your development and production lifecycle.
                </p>

                <a href="{{{siteRootPath}}}/saas/index.html" class="link --yellow">
                  <span>Learn more</span>

                </a>
              </div>
            </div>

            <div class="column c-50">
              <div class="card-block --margin-big">
                <div class="svg-icon">
                  <svg width="88" height="84" viewBox="0 0 88 84" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M28.18 52.3399V43.6399L0 44.7599V55.0199L28.18 52.3399Z" fill="#1E1F1C"/>
                    <path d="M28.18 39.7601V31.0501L0 28.3701V38.6301L28.18 39.7601Z" fill="#1E1F1C"/>
                    <path d="M51.5803 51.9299L31.0303 55.5899V63.2499L51.5803 58.0999V51.9299Z" fill="#1E1F1C"/>
                    <path d="M27.81 64.0601L28.18 63.8001V56.0901L0 61.1101V71.0301L27.81 64.0601Z" fill="#1E1F1C"/>
                    <path d="M0 22.2801L28.18 27.3001V19.5901L27.81 19.3401L0 12.3701V22.2801Z" fill="#1E1F1C"/>
                    <path d="M31.0303 20.1399V27.8099L51.5803 31.4699V25.2899L31.0303 20.1399Z" fill="#1E1F1C"/>
                    <path d="M31.0303 43.52V52.07L51.5803 50.12V42.71L31.0303 43.52Z" fill="#1E1F1C"/>
                    <path d="M51.5803 40.6901V33.2801L31.0303 31.3301V39.8701L51.5803 40.6901Z" fill="#1E1F1C"/>
                    <path d="M0 77.01V83.39L18.12 70.8L0 77.01Z" fill="#1E1F1C"/>
                    <path d="M55.4004 51.25V57.15L64.7104 54.81L55.4004 58.01V83.39L72.0904 63.8V48.27L55.4004 51.25Z" fill="#1E1F1C"/>
                    <path d="M31.0303 66.3701V83.3901L51.5803 63.8001V59.3201L31.0303 66.3701Z" fill="#1E1F1C"/>
                    <path d="M79.7598 0V83.39L87.9398 63.8V19.59L79.7598 0Z" fill="#1E1F1C"/>
                    <path d="M18.12 12.6L0 0V6.38L18.12 12.6Z" fill="#1E1F1C"/>
                    <path d="M64.7104 28.58L55.4004 26.25V32.15L72.0904 35.12V19.59L55.4004 0V25.39L64.7104 28.58Z" fill="#1E1F1C"/>
                    <path d="M55.4004 33.6399V40.8399L72.0904 41.5099V35.2299L55.4004 33.6399Z" fill="#1E1F1C"/>
                    <path d="M51.5803 24.08V19.59L31.0303 0V17.02L51.5803 24.08Z" fill="#1E1F1C"/>
                    <path d="M72.0904 41.8899L55.4004 42.5499V49.7499L72.0904 48.1599V41.8899Z" fill="#1E1F1C"/>
                  </svg>

                </div>

                <h3>Get Started</h3>

                <p class="splash">
                  Jump right in! Get up and running in no time with our starter demo project and step-by-step tutorial.
                </p>

                <a href="{{{siteRootPath}}}/saas/hello-saas.html" class="link --yellow">
                  <span>Learn more</span>

                </a>
              </div>
            </div>

            <div class="column c-50 ">
              <div class="card-block --margin-big">
                <div class="svg-icon">
                  <svg width="122" height="97" viewBox="0 0 122 97" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M56.82 67.77L114.73 62.26L68.74 70.45H94.66V81.37H52V70.81H26V96.81H52V91.12H39V86.24H99.53V70.45H105.64C113.93 70.45 120.73 64.1 121.47 56.01L48.54 58.7C50.29 62.52 53.2 65.68 56.82 67.76V67.77Z" fill="#1E1F1C"/>
                    <path d="M110.05 39.27C109.37 28.06 100.09 19.17 88.71 19.17C87.97 19.17 87.25 19.22 86.53 19.29V10.56H52V0H26V26H52V20.27H39.06V15.43H81.66V20.36C76.6 22.13 72.4 25.74 69.88 30.39L110.25 44.24L59.57 31.54C56.03 32.91 52.99 35.26 50.74 38.25L117.89 50.21L47.89 43.55C47.39 44.95 47.05 46.42 46.87 47.94H26.01V37.38H0V63.38H26V57.69H13V52.81H46.87C46.87 52.81 46.87 52.82 46.87 52.83L121.49 55.59C121.51 55.24 121.54 54.9 121.54 54.54C121.54 47.28 116.68 41.18 110.04 39.26L110.05 39.27Z" fill="#1E1F1C"/>
                  </svg>

                </div>

                <h3>APIs</h3>

                <p class="splash">
                  Need to build out with an API? No problem. Get familiar with our APIs including the content delivery and SPA templating API.
                </p>

                <a href="#" class="link --yellow">
                  <span>Learn more</span>

                </a>
              </div>
            </div>

            <div class="column c-50">
              <div class="card-block --margin-big">
                <div class="svg-icon">
                  <svg width="70" height="104" viewBox="0 0 70 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M49.6002 85.23H19.4102V89.58H49.6002V85.23Z" fill="#1E1F1C"/>
                    <path d="M49.6002 92.4399H19.4102V96.7899H49.6002V92.4399Z" fill="#1E1F1C"/>
                    <path d="M42.7098 99.6499H26.2998V104H42.7098V99.6499Z" fill="#1E1F1C"/>
                    <path d="M56.12 22.24L9.6 10.58C8.91 11.29 8.24 12.02 7.6 12.8C6.22 14.49 5.04 16.3 4.03 18.18L64.78 29L1.91 23.03C0.83 26.11 0.19 29.33 0 32.57L69.06 35.12C69.18 27.15 66.62 19.18 61.38 12.78C49.07 -2.25 27.53 -4.02 13.04 7.46L56.12 22.24Z" fill="#1E1F1C"/>
                    <path d="M0.120117 38.1201C0.450117 41.3601 1.24012 44.5501 2.47012 47.6101L64.7901 41.6801L4.82012 52.3701C5.12012 52.8701 5.40012 53.3701 5.72012 53.8601C6.95012 55.7101 8.31012 57.3701 9.78012 58.8701C10.0901 59.1901 10.3901 59.5201 10.6901 59.8401L56.1201 48.4501L13.3501 63.1301C17.1701 68.4901 19.4201 74.8101 19.4201 81.4801V82.3601H49.6101V81.4801C49.6101 72.9501 53.2701 64.9601 59.2401 58.8701C60.7101 57.3701 62.0801 55.7001 63.3101 53.8401C66.9801 48.3201 68.8901 41.9601 69.0701 35.5701L0.120117 38.1201Z" fill="#1E1F1C"/>
                  </svg>

                </div>

                <h3>Concepts</h3>

                <p class="splash">
                  Learn the foundations of developing with Magnolia SaaS and get familiar with our Light Development technology.
                </p>

                <a href="#" class="link --yellow">
                  <span>Learn more</span>
                  <span class="link-svg"></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="inner-section">
      <div class="row">
        <div class="column c-100">
          <div class="section__title">
            <h2>Use your favorite framework</h2>
          </div>
        </div>

        <div class="column c-100">
          <div class="floating-row">
            <div class="floating-block">
              <div class="card-block">
                <div class="svg-icon">
                  <svg width="119" height="104" viewBox="0 0 119 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_613_1178)">
                      <path d="M97.0753 33.7045C95.8187 33.2885 94.5707 32.8898 93.314 32.5172C93.522 31.6592 93.7127 30.8012 93.8947 29.9432C96.746 16.1112 94.8653 4.99183 88.53 1.31717C82.4287 -2.18417 72.4707 1.45583 62.3913 10.2352C61.3947 11.0932 60.4153 12.0032 59.488 12.9045C58.864 12.2978 58.214 11.6998 57.564 11.1192C47.008 1.74183 36.4173 -2.21017 30.082 1.48183C23.998 5.00917 22.1867 15.4785 24.7433 28.5738C24.9947 29.8738 25.2807 31.1478 25.6013 32.4478C24.1193 32.8638 22.6547 33.3318 21.2853 33.8172C8.892 38.1158 0 44.8932 0 51.9045C0 58.9158 9.47267 66.4125 22.3513 70.8238C23.4 71.1705 24.44 71.5172 25.506 71.8205C25.1593 73.2158 24.856 74.5852 24.5787 75.9978C22.1433 88.8852 24.0413 99.0945 30.1253 102.596C36.3913 106.219 46.93 102.501 57.1913 93.5218C58.006 92.8025 58.812 92.0572 59.6267 91.2685C60.6493 92.2652 61.7153 93.2185 62.7813 94.1458C72.7133 102.691 82.5327 106.149 88.5907 102.639C94.8567 99.0165 96.902 88.0358 94.2587 74.6632C94.0507 73.6405 93.8167 72.6005 93.5653 71.5258C94.3107 71.3178 95.03 71.0838 95.7493 70.8498C109.139 66.4125 118.846 59.2452 118.846 51.8872C118.846 44.5292 109.703 38.0292 97.0753 33.6872V33.7045ZM65.6673 13.9965C74.2993 6.47383 82.3593 3.52717 86.0253 5.64184C89.9513 7.89517 91.4593 16.9952 88.998 28.9465C88.8333 29.7352 88.6773 30.4978 88.4607 31.2692C83.304 30.1078 78.0867 29.2758 72.8347 28.8078C69.8187 24.4918 66.5167 20.3578 62.946 16.4838C63.8473 15.6258 64.7313 14.8112 65.6587 13.9965H65.6673ZM38.8093 63.9512C39.9967 65.9705 41.2013 67.9898 42.4753 69.9658C38.8527 69.5672 35.256 68.9952 31.7027 68.2238C32.7253 64.8785 33.9993 61.4205 35.49 57.8932C36.556 59.9385 37.648 61.9578 38.8093 63.9512ZM31.772 36.0272C35.1173 35.2818 38.662 34.6838 42.354 34.2158C41.1233 36.1398 39.9187 38.1158 38.7833 40.1092C37.648 42.0852 36.53 44.1045 35.49 46.1412C34.0253 42.6832 32.7947 39.2945 31.772 36.0185V36.0272ZM38.1333 52.0172C39.6673 48.8105 41.34 45.6818 43.0993 42.5965C44.8587 39.5112 46.7653 36.5125 48.7673 33.5658C52.2513 33.3145 55.8047 33.1672 59.4187 33.1672C63.0327 33.1672 66.612 33.3058 70.07 33.5658C72.046 36.4865 73.9267 39.4852 75.712 42.5532C77.4973 45.6212 79.17 48.7498 80.7473 51.9305C79.196 55.1372 77.5233 58.2918 75.7293 61.4032C73.9613 64.4885 72.0807 67.4872 70.1133 70.4598C66.6553 70.7112 63.0587 70.8325 59.41 70.8325C55.7613 70.8325 52.234 70.7198 48.828 70.5118C46.8087 67.5652 44.902 64.5492 43.1167 61.4552C41.3313 58.3612 39.6847 55.2325 38.1247 52.0345L38.1333 52.0172ZM80.054 63.8992C81.2413 61.8538 82.3507 59.7912 83.4427 57.7025C84.9247 61.0652 86.2247 64.4798 87.3687 67.9898C83.772 68.8045 80.1233 69.4285 76.4573 69.8445C77.714 67.8945 78.8927 65.9012 80.054 63.8992ZM83.3993 46.1412C82.3073 44.0958 81.198 42.0592 80.0367 40.0572C78.9013 38.0812 77.714 36.1312 76.4833 34.2072C80.2187 34.6752 83.798 35.2992 87.1347 36.0618C86.0687 39.4938 84.812 42.8392 83.3993 46.1325V46.1412ZM59.4707 20.0285C61.906 22.6718 64.2027 25.4625 66.3433 28.3398C61.75 28.1318 57.1307 28.1318 52.5287 28.3398C54.7993 25.3412 57.148 22.5592 59.4707 20.0285ZM32.5433 5.79783C36.4433 3.52717 45.1013 6.7685 54.2273 14.8545C54.808 15.3658 55.3887 15.9205 55.9953 16.4752C52.3987 20.3492 49.0793 24.4832 46.0373 28.7992C40.794 29.2672 35.594 30.0732 30.4373 31.2172C30.134 30.0298 29.8827 28.8252 29.6227 27.6205C27.4387 16.3885 28.8773 7.9125 32.5433 5.79783ZM26.858 66.9845C25.8873 66.7072 24.934 66.4038 23.9807 66.0832C19.032 64.5318 13.416 62.0705 9.36 58.8378C7.01133 57.2172 5.434 54.7038 4.992 51.8958C4.992 47.6492 12.324 42.2152 22.9147 38.5232C24.2407 38.0552 25.584 37.6392 26.9273 37.2492C28.5047 42.2845 30.4113 47.2332 32.6127 52.0085C30.3853 56.8618 28.4613 61.8712 26.858 66.9845ZM53.924 89.7345C50.0933 93.2358 45.656 96.0265 40.8287 97.9245C38.2547 99.1552 35.282 99.2678 32.6387 98.2278C28.9467 96.0958 27.4127 87.8972 29.5013 76.8732C29.7527 75.5732 30.0387 74.2732 30.3593 72.9992C35.5593 74.1172 40.8027 74.8798 46.124 75.2698C49.192 79.6118 52.5547 83.7632 56.1513 87.6632C55.406 88.3825 54.6693 89.0758 53.924 89.7258V89.7345ZM59.6093 84.0925C57.2433 81.5358 54.8773 78.7105 52.572 75.6685C54.7993 75.7638 57.096 75.8072 59.4187 75.8072C61.7413 75.8072 64.1507 75.7638 66.4733 75.6425C64.3413 78.5892 62.036 81.3972 59.6007 84.0925H59.6093ZM89.9513 91.0605C89.7433 93.8945 88.348 96.5378 86.1207 98.3232C82.4287 100.455 74.5593 97.6732 66.066 90.3845C65.0953 89.5525 64.116 88.6425 63.1193 87.7152C66.6727 83.7892 69.94 79.6378 72.9127 75.2698C78.2253 74.8278 83.5207 74.0132 88.7467 72.8345C88.9807 73.7878 89.1887 74.7412 89.3707 75.6685C90.506 80.6865 90.6967 85.9038 89.9513 91.0605ZM94.172 66.1092C93.522 66.3172 92.872 66.5252 92.196 66.7158C90.5753 61.6545 88.5733 56.7145 86.2767 51.9045C88.504 47.1725 90.3847 42.2932 91.962 37.3012C93.1667 37.6478 94.328 38.0205 95.446 38.3932C106.262 42.1112 113.854 47.6318 113.854 51.8525C113.854 56.4025 105.751 62.2785 94.172 66.1092ZM59.4187 62.6252C65.2947 62.6252 70.0527 57.8672 70.0527 51.9912C70.0527 46.1152 65.2947 41.3572 59.4187 41.3572C53.5427 41.3572 48.7847 46.1152 48.7847 51.9912C48.7847 57.8672 53.5427 62.6252 59.4187 62.6252Z" fill="#61DAFB"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_613_1178">
                        <rect width="118.855" height="104" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>
                </div>
                <span class="title">React</span>
              </div>
            </div>
            <div class="floating-block">
              <div class="card-block">
                <div class="svg-icon">
                  <svg width="97" height="104" viewBox="0 0 97 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_613_1176)">
                      <path d="M48.412 0L0 17.264L7.384 81.276L48.412 104L89.44 81.276L96.824 17.264L48.412 0Z" fill="#DD0031"/>
                      <path d="M48.4121 0V11.544V11.492V64.168V104L89.4401 81.276L96.8241 17.264L48.4121 0Z" fill="#C3002F"/>
                      <path d="M48.4124 11.4919L18.1484 79.3519H29.4324L35.5164 64.1679H61.2044L67.2884 79.3519H78.5724L48.4124 11.4919ZM57.2524 54.8079H39.5724L48.4124 33.5399L57.2524 54.8079Z" fill="white"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_613_1176">
                        <rect width="96.824" height="104" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                </div>
                <span class="title">Angular</span>
              </div>
            </div>
            <div class="floating-block">
              <div class="card-block">
                <div class="svg-icon">
                  <svg width="122" height="104" viewBox="0 0 122 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_613_1179)">
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M97.1793 0.017334H121.073L60.736 104L0 0.017334H24.44L60.736 62.6167L97.1793 0.017334Z" fill="#41B883"/>
                      <path fill-rule="evenodd" clip-rule="evenodd" d="M74.5936 0H97.3176L60.7009 62.7293L24.3789 0H46.7476L60.7009 24.1453L74.5936 0Z" fill="#35495E"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_613_1179">
                        <rect width="121.073" height="104" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                </div>
                <span class="title">Vue</span>
              </div>
            </div>
            <div class="floating-block">
              <div class="card-block">
                <div class="svg-icon">
                  <svg width="104" height="104" viewBox="0 0 104 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <g clip-path="url(#clip0_613_1177)">
                      <path d="M52 0C23.2787 0 0 23.2787 0 52C0 80.7213 23.2787 104 52 104C80.7213 104 104 80.7213 104 52C104 23.2787 80.7213 0 52 0ZM77.3933 89.232L34.008 29.172C33.124 27.95 31.564 27.4387 30.134 27.9067C28.704 28.3747 27.7333 29.7007 27.7333 31.2087V83.2087H34.6667V41.9293L71.344 92.716C65.4853 95.5067 58.9247 97.0753 52 97.0753C27.1093 97.0753 6.93333 76.8993 6.93333 52.0087C6.93333 27.118 27.1093 6.93333 52 6.93333C76.8907 6.93333 97.0667 27.1093 97.0667 52C97.0667 67.47 89.2667 81.12 77.3933 89.232Z" fill="black"/>
                      <path d="M76.2663 27.7334H69.333V69.3334H76.2663V27.7334Z" fill="black"/>
                    </g>
                    <defs>
                      <clipPath id="clip0_613_1177">
                        <rect width="104" height="104" fill="white"/>
                      </clipPath>
                    </defs>
                  </svg>

                </div>
                <span class="title">Next.js</span>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</section>
