<script async src="{{{uiRootPath}}}/js/vendor/toggleMode.js"></script>

<!-- dark mode switch -->
<div class="theme-switch-wrapper">
    <span id="toggle-icon">
        <i class="fas fa-sun"></i>
    </span>
    <label class="theme-switch">
        <input type="checkbox">
        <div class="slider round"></div>
    </label>
</div>
