#scrollTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: var(--color-primary-green);
  color: white;
  cursor: pointer;
  padding: 10px;
  transition: 0.5s ease;
}

#scrollTopBtn:hover {
  background-color: var(--color-green-reflex);
}
