button#searchBar {
  outline: none;
  border: none;
  background-color: transparent;
  position: relative;
  top: 1.2rem;
  margin-left: 3rem;
}

.DocSearch-Button {
  background-color: var(--rebrand-color-primary-sand) !important;
  transition: 0.3s ease !important;
  outline: none;
  border: none;
  padding: 4px !important;
}

.DocSearch-Button:hover {
  background-color: var(--rebrand-color-primary-dew) !important;
}

.DocSearch-Button-Container {
  margin-left: 1.5rem !important;
}
