@font-face {
  font-family: "NationalCompressed";
  font-style: normal;
  font-weight: 400;
  src:
    url(https://www.magnolia-cms.com//.resources/corpweb2021/webresources/fonts/national-2-compressed-web-regular.woff2) format("woff2");
}

@font-face {
  font-family: "NationalCompressed";
  font-style: normal;
  font-weight: 700;
  src:
    url(https://www.magnolia-cms.com//.resources/corpweb2021/webresources/fonts/national-2-compressed-web-bold.woff2) format("woff2");
}

@font-face {
  font-family: "NationalCompressed";
  font-style: italic;
  font-weight: normal;
  src:
    url(https://www.magnolia-cms.com//.resources/corpweb2021/webresources/fonts/national-2-compressed-web-regular-italic.woff2) format("woff2");
}
