<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{#if (eq page.component.name 'cloud')}}
{{> banner}}
{{/if}}
{{> body}}
{{> footer}}
{{> feedback}}
{{> scroll-to-top}}
{{> location}}
{{> countdown}}
{{> tableSort}}
{{#if (eq page.componentVersion.displayVersion '6.3 Beta')}}
{{> badge}}
{{/if}}
  </body>
</html>
