<!DOCTYPE html>
<html lang="en">
  <head>
{{> head defaultPageTitle='Untitled'}}
  </head>
  <body class="article{{#with (or page.attributes.role page.role)}} {{{this}}}{{/with}}">
{{> header}}
{{#if (eq page.component.name 'cloud')}}
{{> banner}}
{{/if}}
{{> body}}
{{> footer}}
{{> feedback}}
{{> scroll-to-top}}
{{> location}}
{{> countdown}}
{{> tableSort}}
{{#if (eq page.componentVersion.displayVersion '6.3 beta')}}
{{> badge}}
{{/if}}
{{#if (eq page.component.name 'performance-tuning')}}
{{> badge}}
{{/if}}
{{#if (and (eq page.component.name 'magnolia-sso') (eq page.componentVersion.displayVersion '4.0.x beta'))}}
{{> badge}}
{{/if}}
{{#if (and (eq page.component.name 'ecommerce') (eq page.componentVersion.displayVersion '2.x beta'))}}
{{> badge}}
{{/if}}
{{#if (and (eq page.component.name 'live-copy') (eq page.componentVersion.displayVersion '4.x beta'))}}
{{> badge}}
{{/if}}
  </body>
</html>